// dark palette
$dark_background: #1B2430;
$dark_border: #51557E;
$dark_text: #fff;
$dark_header: #816797;
$dark_additional: #D6D5A8;

//light palette 
$light_background: #F9F7F7;
$light_border: #DBE2EF;
$light_text: #3F72AF;
$light_header: #112D4E;